* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  /* height: 100%; */
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto !important;
  -ms-overflow-style: none !important;
}

.app::-webkit-scrollbar {
  display: none !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #7c7c7c !important;
  color: #7c7c7c !important;
}
